DateTime==6.0
dotenv==0.9.9
polars==1.41.0
polars-runtime-32==1.41.0
psycopg==3.3.4
psycopg2==2.9.12
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
pytz==2026.2
six==1.17.0
tzdata==2026.3
xlsxwriter==3.2.9
zope.interface==8.4
